.mainImage {
    position: relative;
    cursor: pointer;
    height: 9vw;
    background: #F4F4F4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    position: relative;
    height: 100%;
    width: 70%;
}

.option {
    height: 60px;
}

.discount {
    position: absolute;
    background: #FF5252;
    z-index: 1;
    left: 10px;
    top: 10px;
    color: #fff;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}

.mainOption {
    height: 70%;
    width: 30px;
    position: absolute;
    right: 10px;
    border-radius: 5px;
    display: 0;

    &:hover {
        opacity: 1;
    }
}