NEXTAUTH_URL=http://localhost:3000
SECRET=masdasdasdafafauhfiasldfhasdfhalisfuhai7ewi7fhsa;fjsdafhie;f8hsdafjsadi8asyhdasfjas8;dfa9sfhahasdfsadfasf8dsf41a3sf4asdf54aa78sdf4asdf4asd3f8saf867sa4df8as
37sdf8as4d3asdf4asf86a4sf86asd4as98df4asdf84vasdf53a4e86f86asdf5asf86adsf4asd8fas34fdas8f6a4sdfasfsad874wq8e627342342\!!@#!@#SDF@#!$%#^@#^%@$!$!@#$@!#$@#!@D@#D$@$
#D$G!DSA@!#$S!@#$!@#$GGG!@$#S@#!$AA@#$@!###F#


APPLE_ID=
APPLE_TEAM_ID=
APPLE_PRIVATE_KEY=
APPLE_KEY_ID=

AUTH0_ID=
AUTH0_SECRET=
AUTH0_DOMAIN=

FACEBOOK_ID=
FACEBOOK_SECRET=

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_ID=471378581078-ca13tpbcda5jfh712a4uvisjsh7p9l3c.apps.googleusercontent.com
GOOGLE_SECRET=

TWITTER_ID=
TWITTER_SECRET=

EMAIL_SERVER=smtp://username:password@smtp.example.com.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

DATABASE_URL=sqlite://localhost/:memory:?synchronize=true