.rating {
    width: 120px;
    border: 1px solid #007bff;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #007bff;
}

.ratingText {
    width: 120px;
    text-align: center;
    color: #666666;
}


.MainRatio {
    width: 300px;
    @media (max-width:500px) {
            width: 100%;
        }
    
}