.add {
    position: fixed;
    left: 60px;
    bottom: 60px;
}

.Main {
    width: 50%;
    position: absolute;
    right: 25%;
    top: 58px;
    padding: 40px;
    border-radius: 8px;
    background: white;
}

.iconButton {
    position: fixed;
    right: 15px;
    top: 15px;
}