.item {
    width: 406px;
    height: 123px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.Image {
    position: relative;
    width: 100px;
    height: 76px;
}