.item {
    width: 406px;
    height: 123px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Image {
    position: relative;
    width: 100px;
    height: 76px;
    background: red;
}