.item {
    width: 96%;
    cursor: pointer;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transform: 0.5s;
    transition: 0.5s;

    &:hover {
        border-color: #007bff;
    }

}

.Image {
    position: relative;
    width: 100px;
    height: 76px;
}