.add {
    position: fixed;
    right: 60px;
    bottom: 60px;
}

.Main {
    width: 50%;
    position: absolute;
    right: 25%;
    top: 65px;
    padding: 40px;
    border-radius: 8px;
    background: rgb(224, 224, 224);
}