.add {
    position: fixed;
    right: 60px;
    bottom: 60px;
}

.Main {
    width: 50%;
    position: absolute;
    right: 25%;
    top: 65px;
    height: 500px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}