.Img {
    cursor: pointer;
    position: relative;
    height: 230px;
    border-radius: 5px;
    overflow: hidden;
}

.imageHover {
    transform: 0.3s;
    transition: 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}