@import 'swiper/css';
@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  background: rgb(242, 243, 248);
}

html {
  font-family: 'Noto Naskh Arabic', serif;
}

body {
  font-family: 'Noto Naskh Arabic', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Naskh Arabic', serif;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

.black {
  background: black;
}

.white {
  background: white;
}

.radius {
  border-radius: 5px;
}

.margin {
  margin-top: 30px;
}

.hover {
  cursor: pointer;

  &:hover {
    color: #007bff
  }
}

.gray {
  background: #F4F4F4;
}

.mainMenuG {
  height: 45px;
}

.h-90 {
  height: 90px;
}

.colorSecandary {
  color: #666666;
}

.primaryColor {
  color: #343333;
}

.h20 {
  height: 20px;
}

