.MainSwiper {
    width: 100%;
    height: 400px;
    background: #f1e5d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main {
    width: calc(90% - 200px);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-right: 10%;
}

.Option {
    position: relative;
    width: 200px;
    height: 400px;
    left: 200px;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 1px;
}

.item {
    width: 100%;
    height: 60px;
    background: red;
    text-align: center;
    justify-content: center;
}